<h1>To do list</h1>

<form action="/Categories" method="post">
  <label for="inputCategory">Enter your Category:</label>
  <input name="inputCategory" class="form-control" id="inputCategory">
  <button type="submit" class="btn btn-success">Go.</button>
</form>
