<p>@Model["category"].GetName()</p>

@foreach (var task in @Model["tasks"])
{
<p>@task.GetDescription()</p>
}



<form action="/Tasks/Delete" method="post">
  <button type="submit" class="btn btn-success">Delete All Tasks</button>
</form>

<form action="/Categories/@Model["category"].GetId()/Delete" method="post">
  <button type="submit" class="btn btn-success">Delete This Category</button>
</form>

<a href="/Categories">View All Categories</a>
<br>
<a href="/Categories/@Model["category"].GetId()/tasks/new">Add Task</a>
