@foreach (var Category in Model)
{
<p><a href="Categories/@Category.GetId()">@Category.GetName()</a></p>
}

<form action="/Categories/Delete" method="post">
  <button type="submit" class="btn btn-success">Delete All Categories</button>
</form>

<a href="/">Go home</a>
