<form action='/Categories/@Model["category"].GetId()' method='post'>
  <input id='category-id' name='category-id' type='hidden' value='@Model["category"].GetId()'>
  <label for='inputTask'>Enter Task</label>
  <input id='inputTask' name='inputTask' type='text'>
  <label for='inputDate'>Enter Due Date</label>
  <input id='inputDate' name='inputDate' type='date'>
  <button type='submit'>Add task</button>
</form>
